@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;400&display=swap");
@font-face {
  font-family: "queengrunge";
  src: url("../resources/fonts/QueenInlineGrunge.ttf") format("truetype");
}
.colors {
  color: #002b36; /*bg-darker*/
  color: #073642; /*bg-dark*/
  color: #586e75;
  color: #657b83;
  color: #839496;
  color: #93a1a1;
  color: #eee8d5; /*bg-light*/
  color: #fdf6e3; /*bg-lighter*/
  color: #b58900;
  color: #cb4b16;
  color: #dc322f;
  color: #d33682;
  color: #6c71c4;
  color: #268bd2;
  color: #2aa198;
  color: #859900;
}

body {
  margin: 5px 5px;
  background-color: #073642;
}

main {
  margin: 0 30px;
}

.main-content {
  background-color: #002b36;
  border-radius: 40px;
}

.newsletter-input, .review-input {
  background-color: #073642;
  text-decoration: none;
  color: #93a1a1;
  border: none;
  border-radius: 5px;
  width: 80%;
}

.review-input {
  width: 60vw;
}

i {
  color: #b58900;
}

h1 {
  font-family: "queengrunge";
  font-size: xx-large;
  color: #859900;
}

h2 {
  font-family: "queengrunge";
  font-size: x-large;
  color: #859900;
}

h5 {
  color: #859900;
}

p {
  color: #93a1a1;
}

article p:first-child::first-letter {
  color: #b58900;
  font-family: "queengrunge";
  font-size: 4.5rem;
  float: left;
  line-height: 0.65;
  margin-right: 0.5rem;
}

a img {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: all 0.2s;
}
a img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  transform: scale(0.98);
}

.banner {
  text-align: center;
}
.banner img {
  max-height: 35vh;
  height: auto;
  width: auto;
  padding: 10px 10px;
}

.logo {
  height: 60px;
}

nav {
  background-color: #002b36;
  border-radius: 20px;
  margin: 0px 6px 0px 6px;
}

.nav-custom {
  color: #b58900;
  font-family: "queengrunge";
  font-size: x-large;
  transition: all 0.2s;
}
.nav-custom:hover {
  color: #b58900;
  border-radius: 5px;
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.btn-custom {
  border: #268bd2 solid 2px;
  color: #b58900;
  transition: all 0.2s;
}
.btn-custom:hover {
  border: #268bd2 solid 2px;
  color: #b58900;
  background-color: #073642;
  transform: scale(0.95);
}

#nav-active {
  text-decoration: underline 1px;
  border-radius: 5px;
  transform: none;
  -moz-transform: none;
  -o-transform: none;
  -webkit-transform: none;
}

.review-us {
  text-decoration: none;
  color: #2aa198;
  border: #2aa198 solid 1px;
}
.review-us:hover {
  background-color: #2aa198;
  color: #002b36;
}

.card-custom {
  background-color: #002b36;
}

.bio-card-custom {
  background-color: #073642;
  float: right;
  margin: 0px 10px;
}

.animacion:hover {
  animation: crazyFreddie 5s;
}

@keyframes crazyFreddie {
  0% {
    opacity: 0.5;
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: rotate(360deg) scale(2);
    -moz-transform: rotate(360deg) scale(2);
    -o-transform: rotate(360deg) scale(2);
    -webkit-transform: rotate(360deg) scale(2);
  }
  40% {
    transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
  }
  60% {
    transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
  }
  75% {
    transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
  }
}
.carousel i {
  font-size: xx-large;
}

.bio-banner {
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bio-content-img-card {
  max-width: 20vw;
}

footer {
  background-color: #002b36;
  border-radius: 20px;
  margin: 0px 6px 0px 6px;
}

/*# sourceMappingURL=style.css.map */
