@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;400&display=swap");

@font-face {
    font-family: 'queengrunge';
    src: url("./resources/fonts/QueenInlineGrunge.ttf") format("truetype");
}

.colors {
    color: #002b36;  /*bg-darker*/
    color: #073642;    /*bg-dark*/
    color: #586e75;
    color: #657b83;
    color: #839496;
    color: #93a1a1;
    color: #eee8d5;    /*bg-light*/
    color: #fdf6e3;    /*bg-lighter*/
    color: #b58900;
    color: #cb4b16;
    color: #dc322f;
    color: #d33682;
    color: #6c71c4;
    color: #268bd2;
    color: #2aa198;
    color: #859900;
}

.darker-background {
    background-color: #002b36;
}

.dark-background {
    background-color: #073642;
}

body {
    background-color: #073642;
    margin: 5px 5px;
}

footer i {
    color: #b58900;
}

h1 {
    font-family: "queengrunge";
    font-size: xx-large;
    color: #859900;
}

h2 {
    font-family: "queengrunge";
    font-size: x-large;
    color: #859900;
}

h5 {
    color: #859900;
}

p {
    color:#2aa198;
}

a img {
    opacity: 1.0;
    filter: alpha(opacity=100);
    transition: all 0.2s;
}

a img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    transform: scale(0.98);
}

.banner {
    text-align: center;
}

.banner img {
    max-height: 35vh;
    height: auto;
    width: auto;
    padding: 10px 10px;
}

.logo {
    height: 60px;
}

.nav-custom {
    color:#b58900;
    font-family: "queengrunge";
    font-size: x-large;
    transition: all 0.2s;
}

.nav-custom:hover {
    color:#b58900;
    border-radius: 5px;
    transform: scale(1.1) rotateZ(5deg);
    -moz-transform: scale(1.1) rotateZ(5deg);
    -o-transform: scale(1.1) rotateZ(5deg);
    -webkit-transform: scale(1.1) rotateZ(5deg);
}

#nav-active {
    background-color: #073642;
    border-radius: 5px;
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -webkit-transform: none;
}

.animacion:hover {
    animation: crazyFreddie 5s;
}

@keyframes crazyFreddie {
    0%{
        opacity: 0.5;
    }
    10%{
        opacity: 1;
    }
    20%{
        transform: rotate(360deg) scale(2);
        -moz-transform: rotate(360deg) scale(2);
        -o-transform: rotate(360deg) scale(2);
        -webkit-transform: rotate(360deg) scale(2);
    }
    40%{
        transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
    }
    60%{
        transform: skewX(20deg);
        -moz-transform: skewX(20deg);
        -o-transform: skewX(20deg);
        -webkit-transform: skewX(20deg);
    }
    75%{
        transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        -webkit-transform: skewX(-20deg);
    }
}

.contact-us {
    text-decoration: none;
    --bs-btn-color: #2aa198;
    --bs-btn-border-color: #2aa198;
    --bs-btn-hover-color: #002b36;
    --bs-btn-hover-bg: #2aa198;
    --bs-btn-hover-border-color: #2aa198;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #002b36;
    --bs-btn-active-bg: #2aa198;
    --bs-btn-active-border-color: #2aa198;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #2aa198;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #2aa198;
    --bs-gradient: none;
}


