.logo {
    height: 60px;
}

nav {
    background-color: $darker-background;
}

.nav-custom {
    color: $nav-text-colour;
    font-family: "queengrunge";
    font-size: x-large;
    transition: all 0.2s;
    &:hover {
        color: $nav-text-colour;
        border-radius: 5px;
        transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}

.btn-custom {
    border: $card-button-border-colour solid 2px;
    color: $card-button-text-colour;
    transition: all 0.2s;
    &:hover {
        border:$card-button-border-colour solid 2px;
        color: $card-button-text-colour;
        background-color: $dark-background;
        transform: scale(0.95);
    }
}

#nav-active {
    text-decoration: underline 1px;
    border-radius: 5px;
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -webkit-transform: none;
}

.review-us {
    text-decoration: none;
    color: $review-us-button-colour;
    border: $review-us-button-colour solid 1px;
    &:hover {
        background-color: $review-us-button-colour;
        color: $darker-background;
    }
}