.colors {
    color: #002b36;  /*bg-darker*/
    color: #073642;    /*bg-dark*/
    color: #586e75;
    color: #657b83;
    color: #839496;
    color: #93a1a1;
    color: #eee8d5;    /*bg-light*/
    color: #fdf6e3;    /*bg-lighter*/
    color: #b58900;
    color: #cb4b16;
    color: #dc322f;
    color: #d33682;
    color: #6c71c4;
    color: #268bd2;
    color: #2aa198;
    color: #859900;
}

$darker-background: #002b36;
$dark-background: #073642;
$light-background: #eee8d5;
$lighter-background: #fdf6e3;

$title-colour: #859900;
$text-colour: #268bd2;
$hyperlink-colour: #b58900;

$nav-text-colour: #b58900;
$review-us-button-colour: #2aa198;

$card-button-text-colour: #b58900;
$card-button-border-colour: #268bd2;