i {
    color: #b58900;
}

h1 {
    font-family: "queengrunge";
    font-size: xx-large;
    color: #859900;
}

h2 {
    font-family: "queengrunge";
    font-size: x-large;
    color: #859900;
}

h5 {
    color: #859900;
}

p {
    color:#2aa198;
}