i {
    color: $hyperlink-colour;
}

h1 {
    font-family: "queengrunge";
    font-size: xx-large;
    color: $title-colour;
}

h2 {
    font-family: "queengrunge";
    font-size: x-large;
    color: $title-colour;
}

h5 {
    color: $title-colour;
}

p {
    color: $text-colour;
}